.center-center {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - (90px / 2));
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter-timer-text {
  font-style: italic;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}

ion-slides.active-exercise {
  height: 100%;
}

ion-slides.active-exercise ion-slide > div {
  background-size: contain !important;
}

ion-slide.video-preview {
  margin: 20px 0;
}

ion-footer .ion-padding,
ion-footer .ion-padding-bottom {
  padding-bottom: 30px;
}

.abstract-header {
  /* The image used */
  background-image: url("/assets/abstract-blurred-dark-blue.jpg");

  /* Add the blur effect */
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 350px;
  padding-top: 40px;
}

.explore-card {
  margin: 4px 0;
  border-radius: 0;
}

ion-tab-bar {
  padding: 20px 0 20px 0;
}